/*
 * _      __          __              ______       __
 *| | /| / /__ ___ __/ /  ___ _____  / __/ /___ __/ /__
 *| |/ |/ / _ `/ // / _ \/ _ `/ __/ _\ \/ __/ // / / -_)
 *|__/|__/\_,_/\_, /_.__/\_,_/_/   /___/\__/\_, /_/\__/
 *            /___/                        /___/
 */

/* Dracula Color Palette */
@define-color color_bg #282A36;
@define-color color_curr_line #6272A4;
@define-color color_selection #44475A;
@define-color color_fg #F8F8F2;
@define-color color_comment #6272A4;
@define-color color_red #FF5555;
@define-color color_orange #FFB86C;
@define-color color_yellow #F1FA8C;
@define-color color_green #50FA7B;
@define-color color_cyan #8BE9FD;
@define-color color_purple #BD93F9;
@define-color color_pink #FF79C6;

* {
  font-family: "ProggyClean Nerd Font";
  font-size: 18px;
  border-radius: 12px;
}

window#waybar {
  background-color: rgba(40, 42, 54, 0.5); /* @color_bg */
  color: @color_fg;
}


/* Modules - Left */


#workspaces {
  padding: 3px 3px;
}

#workspaces button {
  padding: 0px 9px 0px 9px;
  min-width: 1px;
}

#workspaces button.focused {
  color: @color_bg;
  background-color: @color_fg;
}

#workspaces button.urgent {
  background-color: @color_red;
}

#scratchpad {
  color: @color_comment;
  padding: 0px 5px 0px 5px;
}

#window {
  padding: 0px 10px 0px 10px;
  margin : 3px 3px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}


/* Modules - Center */

#mode {
  background-color: @color_red;
  padding: 0px 5px 0px 5px;
}

#custom-misc_menu {
  color: @color_pink;
  padding: 0px 5px;
  margin : 3px 3px;
}

#clock {
  padding: 0 5px;
  margin : 3px 3px;
}


/* Modules - Right */

#disk, #temperature, #cpu, #memory, #network,
#mpris, #pulseaudio,
#backlight, #battery, #power-profiles-daemon, #idle_inhibitor,
#tray
{
  margin: 1px 1px;
  padding: 0 5px;
}

#mpris.playing{
  background-color: @color_orange;
}

#pulseaudio.muted {
  color: @color_comment;
}

#battery.warning, #battery.critical {
  color: @color_red;
}

#battery.charging, #battery.plugged {
  background-color: @color_orange;
}

#power-profiles-daemon {
  color: @color_comment;
}

#power-profiles-daemon.performance {
  background-color: @color_red;
}

#power-profiles-daemon.power-saver {
  background-color: @color_green;
}

#idle_inhibitor {
  color: @color_comment;
}

#idle_inhibitor.activated {
  background-color: @color_red;
}

#keyboard-state {
  background-color: @color_orange;
}


/* Tray */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color_red;
}
