/*
 * _      __          __              ______       __
 *| | /| / /__ ___ __/ /  ___ _____  / __/ /___ __/ /__
 *| |/ |/ / _ `/ // / _ \/ _ `/ __/ _\ \/ __/ // / / -_)
 *|__/|__/\_,_/\_, /_.__/\_,_/_/   /___/\__/\_, /_/\__/
 *            /___/                        /___/
 */

* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #39404F;  /* BG2 */
  color: #C7Cdd9;             /* FG0 */
}


/* Modules-Right */

#custom-misc_menu {
  background-color: #444C5E;  /* BG3 */
  color:  #BF88Bc;            /* Pink */
  padding: 0px 5px 0px 5px;
}

#workspaces {
}

#workspaces button {
  padding: 0px 9px 0px 9px;
  min-width: 1px;
  color: #7E8188;             /* FG3 */
}

#workspaces button.focused {
  background-color: #4F6074;  /* SEL1 */
  color: #ABB1BB;             /* FG2 */
}

#workspaces button.urgent {
  background-color: #BF616A;  /* Red */
}

#scratchpad {
  color: #7E8188;             /* FG3 */
  padding: 0px 3px 0px 3px;
}

#window {
  color: #ABB1BB;             /* FG2 */
  background-color: #4F6074;  /* SEL1 */
  padding: 0px 3px 0px 3px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

/* Modules-Center */

#mode {
  background-color: #BF616A;  /* Red */
  padding: 0px 3px 0px 3px;
  font-size: 12px;
}

/* Modules-Left */

#disk, #temperature, #cpu, #memory,
#network,
#pulseaudio, #backlight, #battery,
#idle_inhibitor, #power-profiles-daemon,
#clock {
  margin: 3px 3px;
  padding: 0 3px;
}

#disk, #temperature, #cpu, #memory {
  color: #7E8188; /* FG3 */
}

#mpris{
  color: #81A1C1; /* Blue */
}

#mpris.paused{
  color: #60728A; /* Comment */
}

#pulseaudio {
  color: #EBCB8B; /* Yellow */
}

#pulseaudio.muted {
  color: #60728A; /* Comment */
}

#power-profiles-daemon {
  color: #88C0D0; /* Cyan */
}

#power-profiles-daemon.performance {
  color: #C9826B; /* Orange */
}

#power-profiles-daemon.power-saver {
  color: #A3Be8C; /* Green */
}

#battery {
  color: #88C0D0; /* Cyan */
}

#battery.charging, #battery.plugged {
  color: #C9826B; /* Orange */
}

#keyboard-state{
  color: #B47EAD; /* Magenta */
}

#idle_inhibitor{
}

#idle_inhibitor.activated{
  color: #BF616A; /* Red */
}

#idle_inhibitor.deactivated{
  color: #60728A; /* Comment */
}

#tray {
  background-color: #444C5E;  /* BG3 */
  padding: 0 9px 0 9px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #BF616A;  /* Red */
}
