/*
 * _      __          __              ______       __
 *| | /| / /__ ___ __/ /  ___ _____  / __/ /___ __/ /__
 *| |/ |/ / _ `/ // / _ \/ _ `/ __/ _\ \/ __/ // / / -_)
 *|__/|__/\_,_/\_, /_.__/\_,_/_/   /___/\__/\_, /_/\__/
 *            /___/                        /___/
 */

/* Nord Color Palette */
@define-color color00 #2e3440;
@define-color color01 #3b4252;
@define-color color02 #434c5e;
@define-color color03 #4c566a;
@define-color color04 #d8dee9;
@define-color color05 #e5e9f0;
@define-color color06 #eceff4;
@define-color color07 #8fbcbb;
@define-color color08 #88c0d0;
@define-color color09 #81a1c1;
@define-color color10 #5e81ac;
@define-color color11 #bf616a;
@define-color color12 #d08770;
@define-color color13 #ebcb8b;
@define-color color14 #a3be8c;
@define-color color15 #ba8baf;

* {
  font-family: "ProggyClean Nerd Font";
  font-size: 18px;
  border-radius: 12px;
}

window#waybar {
  margin: 10px 10px;
  background: rgba(46, 52, 64, 0.7);  /* @color00 */
  color: @color06;
}


/* Modules - Left */

#workspaces {
  padding: 3px 3px;
}

#workspaces button {
  padding: 0px 9px 0px 9px;
  min-width: 1px;
}

#workspaces button.focused {
  color: @color00;
  background-color: @color06;
}

#workspaces button.urgent {
  background-color: @color11;
}

#custom-niri-workspace-rename {
  color: @color07;
  padding: 0px 1px 0px 1px;
}

#window {
  padding: 0px 10px 0px 10px;
  margin : 3px 3px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}


/* Modules - Center */


#custom-misc_menu {
  color: @color15;
  padding: 0px 5px;
  margin : 3px 3px;
}

#clock {
  padding: 0 5px;
  margin : 3px 3px;
}


/* Modules - Right */

#disk, #temperature, #cpu, #memory, #network,
#mpris, #pulseaudio,
#backlight, #battery, #power-profiles-daemon, #idle_inhibitor,
#tray
{
  margin: 1px 1px;
  padding: 0 5px;
}

#mpris.playing{
  background-color: @color13;
}

#pulseaudio.muted {
  color: @color07
}

#battery.warning, #battery.critical {
  color: @color12;
}

#battery.charging, #battery.plugged {
  background-color: @color11;
}

#power-profiles-daemon {
  color: @color07;
}

#power-profiles-daemon.performance {
  background-color: @color11;
}

#power-profiles-daemon.power-saver {
  color: @color14;
}

#idle_inhibitor {
  color: @color07;
}

#idle_inhibitor.activated{
  background-color: @color11;
}

#keyboard-state label.locked {
  padding: 0 5px;
  color: @color14;
}


/* Tray */

#custom-seperator {
  color: @color06;
  padding: 1px 1px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color11;
}
