/*
 * _      __          __              ______       __
 *| | /| / /__ ___ __/ /  ___ _____  / __/ /___ __/ /__
 *| |/ |/ / _ `/ // / _ \/ _ `/ __/ _\ \/ __/ // / / -_)
 *|__/|__/\_,_/\_, /_.__/\_,_/_/   /___/\__/\_, /_/\__/
 *            /___/                        /___/
 */

* {
  font-family: "ProggyClean Nerd Font";
  font-size: 16px;

  border-radius: 12px;
}

window#waybar {
  color: #F8F8F2;             /* Dracula FG */
  background-color: rgba(40, 42, 54, 0.5); /* Dracula BG Semi-transparent */
  background-color: rgba(0, 0, 0, 0.0); /* Transparency*/
}

/* Modules - Center */

#mode {
  background-color: #FF5555;  /* Dracula Red */
  padding: 0px 5px 0px 5px;
}

#custom-misc_menu {
  background-color: #44475A; /* Dracula Current Line */
  color:  #FF79C6;            /* Dracula Pink */
  padding: 0px 5px;
  margin : 3px 3px;
}

#clock {
  background-color: #44475A; /* Dracula Current Line */
  padding: 0 5px;
  margin : 3px 3px;
}


/* Modules - Left */


#workspaces {
  padding: 3px 3px;
}

#workspaces button {
  padding: 0px 9px 0px 9px;
  min-width: 1px;
  color: #6272A4;  /* Dracula Comment */
}

#workspaces button.focused {
  background-color: #44475A;  /* Dracula Current Line */
  color: #F8F8F2;             /* Dracula FG */
}

#workspaces button.urgent {
  background-color: #FF5555; /* Dracula Red */
  color: #F8F8F2;             /* Dracula FG */
}

#scratchpad {
  color: #6272A4;  /* Dracula Comment */
  padding: 0px 5px 0px 5px;
}

#window {
  background-color: #44475A;  /* Dracula Current Line */
  padding: 0px 10px 0px 10px;
  margin : 3px 3px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}


/* Modules - Right */

#disk, #temperature, #cpu, #memory, #network,
#mpris, #pulseaudio,
#backlight, #battery, #power-profiles-daemon, #idle_inhibitor,
#tray
{
  background-color: #44475A; /* Dracula Current Line */
  margin: 3px 3px;
  padding: 0 5px;
}

#disk, #temperature, #cpu, #memory, #network {
  background-color: rgba(0, 0, 0, 0); /* Transparency */
  color: #6272A4; /* Dracula Comment */
}

#mpris.playing{
  background-color: #FFB86C; /* Dracula Orange */
}

#mpris.paused{
  color: #6272A4; /* Dracula Comment */
}

#pulseaudio {
  color: #F1FA8C; /* Dracula Yellow */
}

#pulseaudio.muted {
  color: #6272A4; /* Dracula Comment */
}

#battery {
  color: #8BE9FD; /* Dracula Cyan */
}

#battery.charging, #battery.plugged {
  background-color: #FFB86C; /* Dracula Orange */
}


#power-profiles-daemon {
  color: #8BE9FD; /* Dracula Cyan */
}

#power-profiles-daemon.performance {
  background-color: #FFB86C; /* Dracula Orange */
}

#power-profiles-daemon.power-saver {
  color: #50FA7B; /* Dracula Green */
}

#idle_inhibitor{
}

#idle_inhibitor.activated{
  background-color: #FF5555; /* Dracula Red */
}

#idle_inhibitor.deactivated{
  color: #6272A4; /* Dracula Comment */
}

#keyboard-state {
  background-color: #44475A; /* Dracula Current Line */
  color: #FFB86C; /* Dracula Orange */
}


#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #FF5555; /* Dracula Red */
}
